img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 80vh;
}
.main-content{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
  }
}

section.courses{
  background-color: rgb(177, 230, 214);
  padding: 6vh;
}
