

<section>
  <!-- <img src="images/baner.jpg" alt=""> -->
   <img src="images/baner.jpg">

   <div class="main-content">
     <h1 class="mt-2">Explore amazing content</h1>
     <a class="btn btn-lg btn-light mt2-">Course</a> &nbsp;
     <a class="btn btn-lg btn-primary mt2-">Templets</a>

   </div>
   </section>

   <section class="courses">
    <div class="container">
      <h1 class="text-center">All Courses</h1>

      <!-- <div  class="row mt-5">
        @for(course of courses; track $index) {
          <div class="col-lg-4 mb-3">
            <app-courses [course]="course"></app-courses>
          </div>
        }
      </div> -->

      <!-- <app-courses [courses]="courses"></app-courses> -->
       <app-courses></app-courses>
       
       <app-about></app-about>
    </div>
   </section>


